.u-section-1 .u-sheet-1 {
  min-height: 737px;
}

.u-section-1 .u-image-1 {
  width: 104px;
  height: 113px;
  margin: 47px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: Poppins-Medium;
  font-size: 3.75rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 30px auto 0;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 337px;
  margin: -325px 729px 0 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 8px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 20px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 529px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-custom-html-1 {
    margin-right: 309px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 129px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-custom-html-1 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 400px;
}.u-section-3 .u-sheet-1 {
  min-height: 400px;
}@font-face {
  font-family: 'Poppins-Medium';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Poppins-Medium.ttf);
}